
<!-- service section -->
<section class="service_section layout_padding">
  <div class="container-fluid">
    <div class="heading_container">
      <h2>
        {{ content.field_main_title}}
      </h2>
      <p>
        {{ content.field_main_description}}
      </p>
    </div>

    <div class="service_container">
      <div class="box">
        <div class="img-box">
          {{ content.field_service_image_1}}
        </div>
        <div class="detail-box">
          <h5>
            {{ content.field_service_title_1}}
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          {{ content.field_service_image_2}}
        </div>
        <div class="detail-box">
          <h5>
            {{ content.field_service_title_2}}
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          {{ content.field_service_image_3}}
        </div>
        <div class="detail-box">
          <h5>
            {{ content.field_service_title_3}}
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </p>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        Read More
      </a>
    </div>
  </div>
</section>
<!-- end service section -->

